<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3 class="text-center">Reiniciar Constraseña</h3>

      <p class="text-center">Ingrese su dirección de correo electrónico para solicitar un restablecimiento de contraseña.</p>

      <div class="formGroup">
        <input type="email" class="form-control" placeholder="Email " #passwordResetEmail required>
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input type="submit" class="btn btnPrimary" value="Restablecer la contraseña" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>

      <div class="redirectToLogin">
        <span class="text-center"> <span class="redirect" routerLink="/sign-in">Iniciar Sesión</span></span>
      </div>
  

    </div>
  </div>
</div>