<!--
<button (click)="exportAsXLSX()"><i class="fa fa-file-excel-o" style="font-size:48px;color:blue"></i></button>
-->
<div class="displayTable">
  <div class="displayTableCell">


    <div class="authBlock">
      <h3>Thank You for Registering</h3>

      <div class="formGroup" *ngIf="authService.userData as user">
        <p class="text-center">Hemos enviado un correo electrónico de confirmación a <strong>{{user.email}}</strong>.</p>
        <p class="text-center">Verifique su correo electrónico y haga clic en el enlace para verificar su dirección de correo electrónico.</p>
      </div>

      <!-- Calling SendVerificationMail() method using authService Api -->
      <div class="formGroup">
        <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
          <i class="fas fa-redo-alt"></i>
          Reenviar correo electrónico de verificación
        </button>
      </div>

    </div>

    <div class="redirectToLogin">
      <span><span class="redirect" routerLink="/sign-in">Iniciar Sesión</span></span>
    </div>

  </div>
</div>
